.drawer-link {
  cursor: pointer;
}

.drawer-link:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.sign-out-button {
  margin-top: auto;
  position:absolute;
  bottom: 10px;
  cursor: pointer;
}
