.Navbar_headerBar__nAzn_{
  background-color: #fff !important;
}

.headerBar {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: 20px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
}
.iconTop {
  font-size: 1rem;
  cursor: pointer;
}

.iconTop:hover {
  opacity: 0.3;
}

.iconsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
}

.Drawer_drawer-link__o1AYJ>p{
  color: #000;
}


/* .headerBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: 20px;
  padding-bottom: 2rem;
}

.iconTop {
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.iconTop:hover {
  opacity: 0.3;
}

.iconsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
} */