.Navbar_headerBar__nAzn_{
  background-color: #fff !important;
  display: flex;
}

.mainTitle{

  padding: 0px 0px 0px 50px;
}

.headerBar {
  background-color: #ffffffef;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 99.8%;
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 1rem;
  margin-top: 0.3rem;
}



.iconTop {
  font-size: 1rem;
  cursor: pointer;
}

.iconTop:hover {
  opacity: 0.3;
}

.iconsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
}

.Drawer_drawer-link__o1AYJ>p{
  color: #000;
}

