.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: 20px;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
}
.iconTop {
  font-size: 1rem;
  cursor: pointer;
}

.iconTop:hover {
  opacity: 0.3;
}

.iconsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
}
