.container {
  max-width: 600px;
  margin: 0 auto;
}

.searchBar {
  margin-bottom: 16px;
  margin-top: 16px;
}

.customListContainer {
  max-width: 100%;
  margin: 0 auto;
  height: 70vh;
  overflow-y: auto;
}

.customListContainer::-webkit-scrollbar {
  width: 6px;
}

.customListContainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editButton {
  margin-right: 12px;
}

.modalField {
  margin-bottom: 16px;
}

.switchContainer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.switchField {
  margin-left: 8px;
}