
.ant-drawer-content-wrapper{
  background-color: #000 !important;
}

.Drawer_drawer-link__BiCZP{
  color: #000 !important;
}

.drawer-link {
    cursor: pointer;
  }
  
  .drawer-link:hover {
    text-decoration: underline;
  }
  