.mainCatContainer{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.cardMapContainer{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryContainer{
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: rgba(60, 59, 102, 0.5);
    padding: 20px;
    margin: 30px;
    border-radius: 5px;
}

.btnContainer {
    display: flex;
}

.mainNewCatContainer{
    display: flex;
    flex-direction:column;
}

.inputNewCat{
    margin: 10px;
    padding: auto;
    width: 97%;
}

.addBtnCat{
    margin: 20px;
}

/* Delete Button */
.deleteBtn{
    background-color: #734a3f ;
    color: #e18763;
  }

.deleteBtn:hover {
background-color: #956153 ;
color: #fb976f !important;
}

.mainEditModContainer{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    height: 130px;
}

.mainEditModContainer>input{
    margin: 10px;
    padding: auto;  
    width: 97%;
}


.allModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

.titleEditMod {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.addBtnCat {
    font-size: 1.5rem;
    margin-bottom: 1.5rem; 
}

.inputField {
    height: 2rem;
    width: 18rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}

.inputName {
    margin: 0;
}