
.allContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.categoryContainer {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width: 30rem;
    height: 8rem;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: #1a247b;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
}

.button{
    border: none;
    margin: 10px;
    padding: 15px;
    background-color: #A9DFD8;
    color: #000;
    font-weight: bolder;
    border-radius: 15px;
    border-color: #000;
  }

  .categoryname {
    color: white;
  }

  .modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }