body {
  background-color: #171821;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.Drawer_drawer-link__BiCZP{
  color: #000 !important;
}

.ant-modal-content{
  background-color: #323A57 !important;
  color: #fff !important;
}

.ant-modal-body{
  background-color: #323A57;
}

.anticon, anticon-close{
  color: #000 !important;
}

.anticon, anticon-close, ant-modal-close-icon{
  color: #fff;
}

.AddNewProduct_mainContainer__iYuHX>input{
  margin: 5px;
}

.AddNewProduct_mainContainer__iYuHX>select{
  margin: 5px;
}

p{
  color: #818181;
}

button{
  border: none;
  margin: 10px;
  padding: 15px;
  background-color: #A9DFD8;
  color: #000;
  font-weight: bolder;
  border-radius: 15px;
  border-color: #000;
}