body {
  background-color: #171821;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden !important;  
}

p{
  color: #818181;
}

* {
  box-sizing: border-box;
}

/* ALL BUTTONS */
button{
  border: none;
  margin: 10px;
  padding: 15px;
  background-color: #115946;
  color: #1da584;
  font-weight: bolder;
  border-radius: 5px;
  border-color: #000;
}

/* ANT BUTTONS */
.ant-btn, css-dev-only-do-not-override-p7e5j5, ant-btn-primary{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 10px;
  padding: 15px 25px 15px 25px;
  background-color: #115946;
  color: #1da584;
  font-weight: bolder;
  border-radius: 5px;
  border-color: #000;
}

 /* RESING FOR ALL IMG */
 img{
  width: 120px;
  height: auto;
}


/* PARTIE HEADER */

.Drawer_drawer-link__BiCZP{
  color: #000 !important;
}

.ant-select, css-dev-only-do-not-override-p7e5j5, ant-select-multiple, ant-select-show-arrow, ant-select-show-search{
 width: 60% !important;
 margin: 10px;
}


/* MODAL */ 
.ant-modal-content{
  display: flex;
  flex-direction: column !important;
  background-color: #323A57 !important;
  color: #fff !important;
}

.ant-modal-body{
  background-color: #323A57;
}


.anticon, anticon-close{
  color: #000 !important;
}

.anticon, anticon-close, ant-modal-close-icon{
  color: #fff;
}


/* PRODUCT PAGE */

.AddNewProduct_mainContainer__iYuHX>input{
  margin: 5px;
}

.AddNewProduct_mainContainer__iYuHX>select{
  margin: 5px;
}

.ProductsPage_productCards__8mvPE{
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* IMG SIZING */
.Product_productContainer__W6GOQ>img{
  max-width: 150px;
}

/* ADMIN  SECTION */
/* List Background */
.ant-list, ant-list-split, ant-list-something-after-last-item, css-dev-only-do-not-override-p7e5j5{
  padding: 20px;
  border-radius: 5px;
  background-color: #323A57 !important;
}