.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

.mainContent {
  display: flex;
}

  .productButton{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .leftSection{
    width: 67vw !important;
  }

  .rightSection{
    width: 33vw !important;
  }

  .sale{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
  }
  
  .ant-table-row {
    background-color: steelblue;
  
  }
  .ant-table-thead{
    background-color: black;
  
  }
  .LastSales_tableContainer__M76O7{
    border: 2px solid #000;
    background-color: #323A57;
  }


/* GRAPH SECTION */
  .filterContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;

  }

  .filterArea{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .filterByTemp{
    display: flex;

  }

  .filterByObject{
    display: flex;
  }

  .firstChartCl{
    color: #fff !important;
    width: 67vw;
    height: auto;
  }

  .productList {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .rightProductsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product {
    background-color: #323A57;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

