.productContainer {
    background-color: #323A57;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}


.productContainer>button{
    margin-right: 15px;
}

.deleteBtn{
    background-color: red;
  }
