.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalMainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.productCards{
  display: flex;
  flex-wrap: wrap;
}

.inputField {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding: 10px;
  border-radius: 2rem;
  height: 3rem;
  width: 15rem;
  border: 2px solid #ccc; /* Bordure fine */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour un effet de profondeur */
}

.title {
  font-size: 2rem;
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.myFilters {
  display: flex;
  flex-direction: row;
}
