.productContainer {
    background-color: #323A57;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    transition-duration: 1s;
}

.productContainer:hover {
    background-color: black;
    color: white;
    border: 2px white solid;
  }


.productContainer>button{
    margin-right: 15px;
}

.deleteBtn{
    background-color: red;
    cursor: pointer;
  }

  .deleteBtn:hover {
    color: white;
  }

.editBtn {
    cursor:pointer;
}

.editBtn:hover {
    color: white;
  }


.productContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img {
    border-radius: 25%;
}

.stock {
    color: white
}
