.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalMainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.productCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ProductsPage_productCards__8mvPE{
    justify-content: center;
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 4rem;
}

.myFilters {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
}


.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.inputField {
  height: 2rem;
  width: 18rem;
  border-radius: 0.2rem;
}

.inputName {
  margin: 0;
}

.selectInput{
  width: 18rem!important;
}
