.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .modalMainContent{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .productCards{
    display: flex;
    flex-wrap: wrap;
  }

