.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #171821;
  color: #A9DFD8;
}

.sales {
  display: flex;
  width: 50%;
  margin-top: 100px;
}
.ant-table-row {
  background-color: steelblue;

}
.ant-table-thead{
  background-color: black;

}
.LastSales_tableContainer__M76O7{
  border: 2px solid #000;
  background-color: #323A57;
}