.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}

.inputField {
    height: 2rem;
    width: 18rem;
    border-radius: 0.2rem;
}

.selectInput{
    width: 18rem!important;
}


.submitButton {
    width:60%;
}