  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

.sales {
  display: flex;
  margin-top: 100px;
  margin-top: 0;
}

.ant-table-row {
  background-color: steelblue;
}
.ant-table-thead{
  background-color: black;

}
.LastSales_tableContainer__M76O7{
  border: 2px solid #000;
  background-color: #323A57;
}

.productButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
}


.dateFilter{
  width: 225px;
}