.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
  }

.mainContainer{
 
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterContainer{

  width: 100%;
  display: flex;
  justify-content: space-around;
}
.filterArea{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filterByTemp{
  display: flex;
}

.filterByTemp>p{
  margin-right: 30px;
}

.filterByObject{
  display: flex;
  
}

.filterByObject>p{
  margin-right: 30px;
}

.renderByObject{
  display: flex;
  margin-top: 30px;
}

.renderByObject>p{
  margin-right: 30px;
}

.statsContainer{
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstChart{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 60%;
  margin: 30px;
}

.secondChart{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 60%;
  margin: 30px;
}

.thirdChart{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 60%;
  margin: 30px;
}

.thirdChart>h2{
  margin: 30px
}

.chartByP{
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  height: auto;
  width: 60%;
}

.chartByPTitle{

  text-align: center;
}

.filters{
  display: flex;
  justify-content: space-around
}