.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
  }

.mainContainer{
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer{
  margin-top: 30px;
  padding-top: 30px;
}

.filterContainer{

  width: 100%;
  display: flex;
  justify-content: space-around;
}
.filterArea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filterByTemp{
  display: flex;
}

.filterByTemp>p{
  margin-right: 30px;
}

.filterByObject{
  display: flex;
  
}

.filterByObject>p{
  margin-right: 30px;
}

.renderByObject{
  display: flex;
  margin-top: 30px;
}

.renderByObject>p{
  margin-right: 30px;
}


.statsContainer{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

