.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modalField {
    margin-bottom: 16px;
  }
  
  .switchContainer {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .switchField {
    margin-left: 8px;
  }